*{
    font-family: sans-serif;
    
}

#encabezado{
    background-color: #012E4A;
    display:grid;
    height: 80px;
    align-items: center;
    justify-content: center;
}

#titulo{
    color: aliceblue;
}

#contenido{
    background-color:#E8EDE7;
    height: 450px;
    display: grid;
    margin: 20px;
}

body{
    background-color:#E8EDE7;
}

footer{
    width: 100%;
    min-height: 50px; 
    background-color: #012E4A;
    color: aliceblue;
}